# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/vcs.xml
.idea/HashCode.iml
.idea/libraries/lib.xml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
src/main/java/.DS_Store
